<h1>This is show page</h1>
<h1> Artist Name: <%= @artist.name %>  </h1>
<h2> Songs: </h2>
<ul>
<% @artist.songs.each do |song|%>
    <li> <%=song.name%> </li>
    <% end %>
</ul>
<h2> Genre(s): </h2>
<ul>
<% @songgenres.each do |object| %> 
    <li> <%=object.genre.name%> </li>
    <% end %>
    </ul>
    